@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

/* Text Input Styling */
.form-input {
  @apply mt-2 p-2 w-full border border-primary rounded-md;
}

.btn {
  @apply px-3 py-1.5 rounded-md;
}

.btn-link {
  @apply text-primary text-sm hover:underline;
}

.btn-primary {
  @apply bg-primary text-white border-primary;
}

.btn-primary-outline {
  @apply text-primary border border-primary;
}

.btn-danger {
  @apply bg-red-600 text-white border-primary;
}

.card {
  @apply bg-white border rounded-lg hover:shadow-lg;
}

.no-shadow-hover {
  @apply hover:shadow-none;
}

/* Modal Styling */
.modal {
  @apply bg-white md:min-h-[650px] md:min-w-[400px] min-w-[95%] ms-auto overflow-y-auto;
  transform: translate(-50%, -50%);
  border-radius: 1rem ;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto;
  }
}






/* Base styles */
/* .navbar {
  background-color: #333;
  overflow: hidden;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
} */

/* Dropdown container */
/* .dropdown {
  overflow: hidden;
} */

/* .dropdown .dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 14px 16px;
} */

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; */
}

.dropdown-content a {
  padding: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Sub-dropdown content */
.sub-dropdown-content {
  display: none;
  position: absolute;
  left: 160px;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Show sub-dropdown on hover */
.dropdown-content .has-sub:hover .sub-dropdown-content {
  display: block;
}

/* Make the first sub-dropdown visible by default */
.dropdown-content .default .sub-dropdown-content {
  display: block;
.rs-nav.rs-nav-subtle.rs-nav-vertical {
  margin-right: 2.5rem;
  width: 25%;
}

/* .rs-toggle-checked.rs-toggle-presentation {
  background-color: [#000] !important;
}

.rs-toggle-presentation {
background-color: black;
} */

.rs-toggle-checked .rs-toggle-presentation {
  background-color: #000 !important;
  /* background-color: var(--rs-toggle-checked-bg); */
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  color: var(--rs-toggle-checked-thumb);
}



/* Profile starts here */
/* styles/globals.css */

.profile-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profile-section {
  margin-bottom: 30px;
}

.profile-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-section p {
  margin: 5px 0;
}

button {
  background-color: #000;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.rs-uploader-trigger-btn .rs-btn .  rs-btn-ghost {
  background-color: transparent;
  border: 1px solid #000;
  /* border: 1px solid var(--rs-btn-ghost-border); */
  color: #000;
}
