@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

/* Text Input Styling */
.form-input {
  @apply mt-2 p-2 w-full border border-primary rounded-md;
}

.btn {
  @apply px-3 py-1.5 rounded-md;
}

.btn-link {
  @apply text-primary text-sm hover:underline;
}

.btn-primary {
  @apply bg-primary text-white border-primary;
}

.btn-primary-outline {
  @apply text-primary border border-primary;
}

.btn-danger {
  @apply bg-red-600 text-white border-primary;
}

.card {
  @apply bg-white border rounded-lg hover:shadow-lg;
}

.no-shadow-hover {
  @apply hover:shadow-none;
}

/* Modal Styling */
.modal {
  @apply bg-white md:min-h-[650px] md:min-w-[400px] min-w-[95%] ms-auto overflow-y-auto;
  transform: translate(-50%, -50%);
  border-radius: 1rem ;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto;
  }
}


